.nav{
    position: relative;
    margin: 0 auto;
    width: 1300px;
    min-height: 1000px;
}
.nav_header{
    width: 1300px;
    height: 240px;
}
.nav_top{
    height: 20px;
    width: 1300px;
    background: blue;
    color: white;

}
.nav_top p{
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    font-family: Georgia;
}
.nav_header_h{
    position: relative;
    width: 1300px;
    height: 170px;
    background: white;
}
.nav_header_h img{
    padding-top: 20px;
}
.header_wel{
    position: absolute;
    top: 10px;
    left: 330px;
    width: 400px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;

}
.header_wel p{
    width: 400px;
    height: 100px;
    line-height: 100px;
    color: #1E90FF;
    font-family: "Times New Roman";
}
.header_tit{
    position: absolute;
    top: 70px;
    left: 450px;
    width: 800px;
    height: 100px;
}
.header_tit p{
    line-height: 100px;
    width: 800px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #1E90FF;
    font-family: "Times New Roman";
}
.header_i{
    position: absolute;
    right: 20px;
    top: 50px;
}
.nav_header_d{
    width: 1300px;
    height: 50px;
    background: #1E90FF;
    /*border-bottom: 1px solid #DCDCDC;*/
    /*box-shadow:3px 0px 10px #DCDCDC*/
}
.nav_header_d ul{
    position: relative;
    /*top: 2px;*/
    float: left;
    width: 1300px;
    height: 50px;
    background: #1E90FF;
}
.nav_header_d ul li{
    float: left;
    display: inline-block;
    text-align: center;
    width: 214px;
    line-height: 50px;
    /*font-family: 楷体,serif;*/
    cursor: pointer;
    margin-left: 2px;
}
.nav_header_d ul li a{
    display: inline-block;
    color: white;
    line-height: 50px;
    font-family: Georgia;
    width: 100%;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
}
.nav_header_d ul li:hover{
    background: white;
    border-bottom:white ;
    color: #1E90FF;
}
.nav_header_d ul li:hover a{
    color: #1E90FF;

}
.nav_header_liactive{
    background: white;
    border-bottom:white ;
}
.nav_header_liactive a{
    background: white;
    color: #1E90FF;
    font-family: Georgia;
    width: 100%;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.nav_cent{
    /*position: absolute;*/
    width: 1300px;
    min-height: 700px;
    height: auto;
    background: white;
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-top: 0px;
    box-shadow:0px 3px 10px #DCDCDC;
    font-family: "Times New Roman";
}
.left_nav{
    position: relative;
    left: 10px;
}
.cent_d{
    position: relative;
    top: 60px;
    left: 100px;
    width: 260px;
    min-height: 400px;
    border: skyblue solid 1px;
    border-radius: 5px;

}
.cent_dul{
    margin: 10px;
    width: 240px;
    min-height: 380px;
}
.cent_dul li{
    margin-left: 26px;
    height: 30px;
    line-height: 40px;
    list-style-type: disc;
}
.cent_dul li a{
    color: #4169E1;
    text-decoration: underline;
    font-family: "Times New Roman";
    font-size: 18px;
    cursor: pointer;
}
.cent_dul li a:hover{
    color: #FF4500;
}
.cent_m{
    position: absolute;
    top: 300px;
    left: 400px;
    width: 800px;
    min-height: 380px;
    font-family: "Times New Roman";
}
.cent_m h1{
    padding-top: 10px;
    color: #00008B;
    font-family: "Times New Roman";
    padding-bottom: 10px;
    font-size: 30px;
}
.cent_m p{
    padding-top: 6px;
    font-family: "Times New Roman";
    font-size: 20px;
    padding-bottom: 6px;
}
.cent_m p a{
    color: #4169E1;
    text-decoration: underline;
    font-family: "Times New Roman";
    font-size: 18px;
    cursor: pointer;
}
.cent_m h6{
    padding-top: 6px;
    color: #0000CD;
    font-family: "Times New Roman";
    padding-bottom: 6px;
    font-size: 22px;
}
.cent_m ul{
    padding-top: 6px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.ul_num li{
    padding-top: 6px;
    padding-bottom: 6px;
    list-style-type: decimal;
    font-size: 20px;
    font-family: "Times New Roman";
}
.ul_num li a{
    font-family: "Times New Roman";
    font-size: 20px;
    color: blue;
    text-decoration: underline;
}
.ul_dot li{
    padding-top: 6px;
    padding-bottom: 6px;
    list-style-type: disc;
    font-size: 20px;
    font-family: "Times New Roman";
}
.cont_img{
    width: 100%;
    height: auto;
    text-align: center;
}
.cont_img img{
    width: 200px;
    height: 267px;
}
.cont_img p{
    font-family: "Times New Roman";
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
}
.cent_m b{
    font-family: "Times New Roman";
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}
